/*
################
               general page styles
################
*/
html {
	box-sizing: border-box;
	font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ul {
	list-style-type: none;
}

#container { 
	display: flex;
	width: 100%;
	margin: auto; 
	flex-wrap: wrap;
	padding: 18px;
}


/*
################
               header
################
*/
#top { /* main header styles */
	width: 100%;
}

/* 
---first part of header 
*/
#top__header { /* main top header styles */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#top__header--left { /* left side of top header */
	display: flex;
	order: -1;
	align-items: flex-start;
	justify-content: center;
}

#top__header--left #etsy-logo { /* etsy logo styles */
	width: 80px;
	height: 40px;
	margin-right: 20px;
}

#search-bar { /* serach bar general styles */
	max-width: 450px;
	display: inline-block;
}

#search-bar__input { /* search input styles */
	border-radius: 3px;
	overflow: hidden;
	width: 425px;
	height: 35px;
}

#search-bar__button { /* search button styles */
	height: 35px;
	line-height: 17px;
	background-color: #F56400;
  font-size: 14px;
  border: 1px solid #dd5906;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  color: #fff;
  padding: 7px 15px 8px;
}

#top__header--right { /* right side of top header main styles */
	display: flex;
	order: 1;
	width: 400px;
	flex-direction: row;
	justify-content: center;
}

.top__header--right { /* individual links styles */
	margin: 6px;
}

#sign-in { /* sign in styles */
  height: auto;
  margin-top: 23px;
  margin-right: 18px;
  display: inline-block;
  float: left;
  padding: 8px;
  line-height: 16px;
  font-size: 14px;
  border: 1px solid;
  text-decoration: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: #E55400;
  position: relative;
  top: -32px;
}

/* 
---second part of header 
*/
#categories { /* categories styles */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-top: 1px solid #e1e3e0;
	border-bottom: 1px solid #e1e3e0;
}

/* 
---third part of header 
*/

#sub-categories { /* general styles */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 10px 0; 
}

.sub-categories--links { /* link styles */
	background-color: #FFAC62;
	border-color: rgba(0, 0, 0, 0.15);
	color: #222;
	border-radius: 3px;
	border: 1px solid #d89353;
	font-size: 14px;
	height: 38px;
	display: flex;
 	padding: 8px 12px;
	align-items: center;
	margin: 6px 6px 6px 0;
}


/*
################
               main section
################
*/
#main-section{ /* main section styles */
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* 
---left side 
*/
#main-section__left { /* left section styles */
	width: 250px;
	height: 100%;
	border: 1px solid #e1e3e0;
	border-radius: 3px;
}

.side-filter a {
	color: inherit;
	font-size: 85.71%;
	text-decoration: none;
	vertical-align: middle;
}

/* 
---right side 
*/
#main-section__right { /* right section general styles*/
	width: 100%;
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-left: 6px;
	padding-right: 18px;
	justify-content: space-between;
}

a.product { /* dynamic content styles */
	text-decoration: none;
	color: #333;
	/*display: block;*/
	width: 330px;
	height: 350px;
	display: flex;
	flex-wrap: wrap;
}

a.product img { /* image styles */
	width: 303px;
	height: 241px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0); /* transparent box shadow on hover */
}

a.product img:hover { /* add box shadow on hover */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.product .title { /* product title styles */
	width: 303px;
	white-space: nowrap;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
}

a.product .shop-name {
	width: 300px;
	white-space: nowrap;
	font-size: 12px;
	color: #808080;
	display: block;
}

a.product .price {
	width: 300px;
	font-size: 14px;
	color: #222;
	font-weight: bold;
	text-overflow: ellipsis;
}